.survey-list-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

.survey-list-table td, .survey-list-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.survey-list-table th:hover{
    background-color: black;
}

.survey-list-table tr:nth-child(even){background-color: #f2f2f2;}

.survey-list-table tr:hover {background-color: #ddd;}

.survey-list-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00397d;
    color: white;
}
.survey-total-card, .resp-total-card, .recent-total-card{
    margin:5px;
    height:100px;
}

.search-box{
    margin: 5px 0 5px 0;
}
.chart-div{
    width: 100%;
    display: block;
}
.canvas-div{
    display: inline-block;
    width: 25%
}

.line-chart-div{
    display: inline-block;
    width: 50%;
}
.recent_table_div{
    display: inline-block;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    width:45%
}
.input-day{
    min-width: 20px;
    width:10%;
}